@use "../utils/mixins";
@use "../utils/vars";

.main {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0 25px;
  margin: 0 auto;
  counter-reset: section 0;
  transition: vars.$transition-duration;

  @include mixins.onTablet {
    padding: 0 80px;
  }

  @include mixins.onDesktop {
    padding: 0 100px;
  }
}
